[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repo to manage Gerrit changes
[access "refs/*"]
	owner = group user/nimagadum-oss
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nimagadum-oss
	label-Verified = -1..+1 group user/nimagadum-oss
	push = group user/nimagadum-oss
	read = group user/nimagadum-oss
	rebase = group user/nimagadum-oss
	removeReviewer = group user/nimagadum-oss
	submit = group user/nimagadum-oss
[access "refs/heads/*"]
	create = group user/nimagadum-oss
	push = +force group user/nimagadum-oss
	pushMerge = group user/nimagadum-oss
	read = group user/nimagadum-oss
[access "refs/tags/*"]
	push = group user/nimagadum-oss
	push = +force group user/nimagadum-oss
